List (11/10/24)

In [15]:
l1=[]
l1=list([2,3,4,5,6])

In [20]:
#Task
l1=list([1,1,1,1,1,s])
for i in range(0,5):
    s=int(input("enter value"))
    l1[i]=s
print(l1)

enter value 3
enter value 3
enter value 3
enter value 3
enter value 3

[3, 3, 3, 3, 3, 3]

In [37]:
l1=list([1,1,1,1,1,'s','v'])
l1.append([50,40])
l1[7].count(50)
t=(1,2,3,4)
l1.extend([t])
l1.extend([40,50])
l1.insert(5,35)
l1

[1, 1, 1, 1, 1, 35, 's', 'v', [50, 40], (1, 2, 3, 4), 40, 50]

In [42]:
odd_square=[x**2 for x in range(1,11) if x%2==1]
odd_square
n = int(input("Enter the size of the list "))
print("\n")
num_list = list(int(num) for num in input("Enter the list items separated by space ").strip().split())[:n]
num_list

Enter the size of the list  3

Enter the list items separated by space  3 3 4 3

[3, 3, 4]

In [1]:
t=2,2,2,2,3

(14/10/24)

In [6]:
s1=set()
type(s1)
s1.add(5)

In [16]:
s1={1,2,3,4,5}
s2={5,6,7,8,9}
s1|s2
s1&s2
s1-s2
s2-s1

{6, 7, 8, 9}

In [17]:
un=s1.union(s2)
di=s1.intersection(s2)
sub=s1.difference(s2)
sym=s1.symmetric_difference(s2)

un,di,sub,sym

({1, 2, 3, 4, 5, 6, 7, 8, 9}, {5}, {1, 2, 3, 4}, {1, 2, 3, 4, 6, 7, 8, 9})

In [ ]:
def add()

In [ ]:
print("#################################################################")
print("# \t\t\t\tMENU \t\t\t\t#")
print("# \t\t 1.ADD \t\t\t\t\t\t#")
print("# \t\t 2.VIEW \t\t\t\t\t#")
print("# \t\t 3.REMOVE\t\t\t\t\t#")
print("#\t\t\t\t\t\t\t\t#")
print("#\t\t\t\t\t\t\t\t#")
print("#\t\t\t\t\t\t\t\t#")
print("#\t\t\t\t\t\t\t\t#")
print("#\t\t\t\t\t\t\t\t#")
print("#################################################################")
num=int(input("enter the number as in the menu"))
if num==1:
    a=input("enter the name ")
    add()
elif num==2:
    view()
elif num==3:
    r=input("enter the name to remove")
    remove()

(15/10/24)
Dictionary

In [5]:
d={}
d={"key":"value"}
d["key2"]="valu2"
s=d["key"]
s

'value'

oops
(16/10/24)

In [4]:
class student:
    def __init__(self):
        self.roll=234
        self.name="siva"
        self.mark=[]
    # def set_data(self ):
    #     self.roll=int(input("enter the input"))
    #     self.name=input("name")
    def get_data(self):
        print("the name is ",self.name)
        print("roll num",self.roll)
    def marks(self,ma):
        mark=list(ma)
        o=0
        for i in mark:
            o=o+i
        print("sum=",(o))
        print("averge is=",o//len(ma))
        
s=student()  
print(s)
s2=student()
# s.set_data()
s.get_data()
t=(1,2,3,4)
s.marks(t)

<__main__.student object at 0x1074a1940>
the name is  siva
roll num 234
sum= 10
averge is= 2

(17/10/24)

In [5]:
class student:
    def __init__(siva):
        siva.roll=234
        siva.name="siva"
        siva.mark=[]
    def pr(siva):
        print(siva.roll)
s=student()
s.pr()

234

In [6]:
class csstudent:
    stream='IT'
    def __init__(self,name,roll):
        self.name=name
        self.roll=roll
        self.gmail="gmail"
    def display(self,num):
        print('num',num)

a=csstudent('ABC',1)
b=csstudent('DEF',2)
b.display("88")
# print('Student 1')
# print(a.stream)
# print(a.roll)
# print(a.name)
# print('Student 2')
# print(b.stream)
# print(b.roll)
# print(b.name)

num 88

In [8]:
# Using the delattr in instance variable will delete the whole variable itself
class student:
    def __init__(self):
        self.roll=0
        self.sname=''
    def setdata(self):
        self.roll=int(input("Enter your roll no: "))
        self.sname=input("Enter the name: ")
    def getdata(self):
        print('Roll No:',self.roll)
        print('Name   :',self.sname)
s1=student()
s1.setdata()
print('The name input:',getattr(s1,'sname'))
setattr(s1,'sname','Vijay')
print('The name after reset:',getattr(s1,'sname'))
delattr(s1,'sname')
print('Is name there now?:',hasattr(s1,'sname'))
# s1.getdata()

Enter your roll no:  g

ValueError: invalid literal for int() with base 10: 'g'

In [22]:
# Using delattr in class variable will delete only the input of variable
class student:
    roll=0
    sname=''
    def setdata(self):
        self.roll=int(input("Enter your roll no: "))
        self.sname=input("Enter the name: ")
    def getdata(self):
        print('Roll No:',self.roll)
        print('Name   :',self.sname)
s1=student()
s1.setdata()
print(getattr(s1,'sname'))
setattr(s1,'sname','Vijay')
print(getattr(s1,'sname'))
delattr(s1,'sname')
print(hasattr(s1,'sname'))
s1.getdata()

Enter your roll no:  4
Enter the name:  f

f
Vijay
True
Roll No: 4
Name   :

In [31]:
student.__dict__
student.__module__
student.__name__
student.__doc__

In [33]:
# class student:
#     def __init__(self):
#         self.name=["sive","soham","bhrath","adrash","rayan"]
#         self.roll=[1,2,3,4,5]
#     def display(self):
#         for i in range(len(self.name)):
#             print(self.name[i],self.roll[i])
            
# s=student()
# s.display()

sive 1
soham 2
bhrath 3
adrash 4
rayan 5

In [40]:
class student:
    def __init__(self,name,roll):
        self.name=name
        self.roll=roll
        self.data=[self.name,self.roll]
    def display(self):
        for i in self.data:
            print([i])
            
s=student("siva",5)
s.display()

['siva']
[5]

In [3]:
class student:
    def __init__(self,names,roll):
        self.names=names
        self.roll=roll
    def display(self):
        for i in range(max(len(self.names),len(self.roll))):
            print(self.names[i],self.roll[i])
s=student(["siva","krishna","sai"],[1,2,3])
s.display()

siva 1
krishna 2
sai 3

(18/10/24)

In [6]:
#single inherence
class vehicle:
    def __init__(self):
        self.make=" "
        self.model=" "
    def display (self):
        print("Make",self.make,"\n model",self.model)
class jaguar(vehicle):
    def __init__(self):
        self.make="emo"
        self.model="5555"
c=jaguar()
c.display()

Make emo
 model 5555

In [21]:
#super keyword
class vehicle:
    speed=50
    def __init__(self,m,mo):
        self.make=m
        self.model=mo
    def display (self):
        print("Make",self.make,"\n model",self.model)
class tata(vehicle):
    speed=100
    def __init__(self,a,b):
        super().__init__(a,b)
    def details(self):
        print(self.speed)
        print(super().speed)
class rangerover(tata):
    speed=105
    def __init__(self,a,b):
        super().__init__(a,b)
    def details(self):
        print(self.speed)
        print(super().speed)
c=rangerover("emo",555)
c.details()

105
100

In [22]:
#Hierarchical
class student:
    def setPersonal(self):
        self.roll=input("Enter the roll no: ")
        self.name=input("Enter the name: ")
    def getPersonal(self):
        print("Roll:",self.roll,"\nName:",self.name)

class fy(student):
    def getMarks(self):
        self.s1=int(input("Enter Subject1 Marks"))
        self.s2=int(input("Enter Subject2 Marks"))
        self.s3=int(input("Enter Subject3 Marks"))
    def showMarks(self):
        self.total=self.s1+self.s2+self.s3
        print("Total:",self.total)

class sy(student):
    def getMarks(self):
        self.s1=int(input("Enter Subject1 Marks"))
        self.s2=int(input("Enter Subject2 Marks"))
        self.s3=int(input("Enter Subject3 Marks"))
        self.s4=int(input("Enter Subject3 Marks"))
    def showMarks(self):
        self.total=self.s1+self.s2+self.s3+self.s4
        print("Total:",self.total)
obj1=sy()
obj2=fy()
#object of second year calling
obj1.setPersonal()
obj1.getMarks()
obj1.getPersonal()
obj1.showMarks()
#object of first year calling
obj2.setPersonal()
obj2.getMarks()
obj2.getPersonal()
obj2.showMarks()

Enter the roll no:  f
Enter the name:  f
Enter Subject1 Marks d

ValueError: invalid literal for int() with base 10: 'd'

In [24]:
class saving:
    def __init__(self,acc,amount):
        self.save_acc=acc
        self.save_amo=amount
    def display(self):
        print("account:",self.save_acc"\namount  is:"self.save_amo)
class loan:
    def __init__(self,acc,amount):
        self.loan_acc=acc
        self.loan_amo=amount
    def display(self):
        print("account:",self.loan_acc"\namount  is:"self.loan_amo)
class user(saving,loan):
    print("Enter the account of saving number and balance")
    saving.save

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2678263577.py, line 6)

In [ ]:
#build a class comple habing attributes real and imaganeary and perform complex number addition and subtraction operation   
class attributes:
    def __init__(self,a,b):
        self.real=a
        self.imagain=b
    def display(self):
        print(😎)

(21/10/24)

In [10]:
file=open("./file_try.txt","w")
file.write("Hi trying to learn the file ")
file.close()

In [11]:
file=open("./file_try.txt","r")
#file.write("Hi trying to learn the file ")
data=file.read()
file.close()
data

'Hi trying to learn the file '

In [12]:
file=open("./file_try.txt","a")
file.write("\n Second line")
file.close()

In [13]:
file=open("./file_try.txt","r")
data=file.readlines()
print("data:",data)
for l in data:
    print(l)
file.close()

data: ['Hi trying to learn the file \n', ' Second line']
Hi trying to learn the file

 Second line

In [14]:
file=open("./file_try.txt","r")
data=file.read(10)
print(data)

Hi trying

In [16]:
with open("./file_try.txt")as file:
    print(file.read())

Hi trying to learn the file
 Second line

In [ ]:
f=open("./file_try.txt","r")